.SingleProduct {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 15px 10px;
}

.SingleProduct img {
    margin-right: 15px;
}

.productDetails h4 {
    margin: 5px 0px;
}
.productDetails h4 a {
    text-decoration: none;
}
button {
    padding: 4px 47px;
    font-weight: 600;
    background: #ffb900;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}